<html>
  <head>
    <title>Myst documentation</title>

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600|IBM+Plex+Sans+Condensed:300,700|IBM+Plex+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>

  <script type="text/template" id="docs_template">
    <div class="container">
      <div class="content">
        <div class="sidebar">
          <a href="#" class="sidebar-header__home-link">
            <div id="sidebar-header">
              <div class="sidebar-header__info">
                <span class="sidebar-header__name"><%= root.project_name %></span>
                <span class="sidebar-header__version"><%= root.version %></span>
              </div>
              <img class="sidebar-header__logo" src="<%= root.logo_url %>">
            </div>
          </a>
          <div id="index">
            <span class="entry__section-name">Modules</span>
            <ul class="entry__list entry__list--modules">
              <% for(var module in content.submodules) { %>
                <a href="#<%= content.submodules[module].full_name %>">
                  <li class="entry">
                    <span class="entry__chevron"></span>
                    <%= module %>
                  </li>
                </a>
              <% } %>
            </ul>

            <span class="entry__section-name">Types</span>
            <ul class="entry__list entry__list--types">
              <% for(var type in content.subtypes) { %>
                <a href="#<%= content.subtypes[type].full_name %>">
                  <li class="entry">
                    <span class="entry__chevron"></span>
                    <%= type %>
                  </li>
                </a>
              <% } %>
            </ul>

            <span class="entry__section-name">Constants</span>
            <ul class="entry__list entry__list--constants">
              <% for(var constant in content.constants) { %>
                <a href="#<%= content.constants[constant].full_name %>">
                  <li class="entry">
                    <span class="entry__chevron"></span>
                    <%= constant %>
                  </li>
                </a>
              <% } %>
            </ul>

            <% if(content.kind == "TYPE") { %>
              <span class="entry__section-name">Initializers</span>
              <ul class="entry__list entry__list--constants">
                <% for(var initializer in content.initializers) { %>
                  <a href="#<%= content.initializers[initializer].full_name %>">
                  <li class="entry">
                    <span class="entry__chevron"></span>
                    <%= initializer %>
                  </li>
                </a>
                <% } %>
              </ul>
              <span class="entry__section-name">Static Methods</span>
              <ul class="entry__list entry__list--constants">
                <% for(var static_method in content.static_methods) { %>
                  <a href="#<%= content.static_methods[static_method].full_name %>">
                  <li class="entry">
                    <span class="entry__chevron"></span>
                    .<%= static_method %>
                  </li>
                </a>
                <% } %>
              </ul>
              <span class="entry__section-name">Instance Methods</span>
              <ul class="entry__list entry__list--constants">
                <% for(var instance_method in content.instance_methods) { %>
                  <a href="#<%= content.instance_methods[instance_method].full_name %>">
                  <li class="entry">
                    <span class="entry__chevron"></span>
                    #<%= instance_method %>
                  </li>
                </a>
                <% } %>
              </ul>
            <% } else if(content.kind == "MODULE") { %>
              <span class="entry__section-name">Methods</span>
              <ul class="entry__list entry__list--constants">
                <% for(var method in content.methods) { %>
                  <a href="#<%= content.methods[method].full_name %>">
                  <li class="entry">
                    <span class="entry__chevron"></span>
                    .<%= method %>
                  </li>
                </a>
                <% } %>
              </ul>
            <% } %>
          </div>
        </div>

        <div class="display-wrapper">
          <div id="display">
            <% if(content.kind == "TYPE") { %>
              <h1 class="display__name">
                <span class="muted"><%= content.full_name.replace(content.name, '') %></span><%= content.name %>
                <span class="display__kind"><%= content.kind %></span>
              </h1>
              <p class="display__summary"><%= MarkdownRenderer.render(content.doc) %></p>

              <div class="display__section">
                <h2 class="display__section-name">Constants</h2>
                <% for(var constant in content.constants) { %>
                  <% constant = content.constants[constant]; %>
                  <div data-name="<%= constant.full_name %>" class="display__constant">
                    <span class="display__constant__head">
                      <span class="display__constant__name"><%= constant.name %></span>
                      <span class="display__constant__value">= <%= constant.value %></span>
                    </span>
                    <p><%= MarkdownRenderer.render(constant.doc) %></p>
                  </div>
                <% } %>
              </div>

              <div class="display__section">
                <h2 class="display__section-name">Initializers</h2>
                <% for(var initializer in content.initializers) { %>
                  <% initializer = content.initializers[initializer]; %>
                  <div data-name="<%= initializer.full_name %>" class="display__method">
                    <span class="display__method__name"><%= initializer.name %></span>
                    <% initializer.clauses.forEach(function(clause) { %>
                      <div class="display__method__clause">
                        <span class="display__method__head"><%= clause.head %></span>
                        <p><%= MarkdownRenderer.render(clause.doc) %></p>
                      </div>
                    <% }); %>
                  </div>
                <% } %>
              </div>

              <div class="display__section">
                <h2 class="display__section-name">Static Methods</h2>
                <% for(var static_method in content.static_methods) { %>
                  <% static_method = content.static_methods[static_method]; %>
                  <div data-name="<%= static_method.full_name %>" class="display__method">
                    <span class="display__method__name">.<%= static_method.name %></span>
                    <% static_method.clauses.forEach(function(clause) { %>
                      <div class="display__method__clause">
                        <span class="display__method__head"><%= clause.head %></span>
                        <p><%= MarkdownRenderer.render(clause.doc) %></p>
                      </div>
                    <% }); %>
                  </div>
                <% } %>
              </div>

              <div class="display__section">
                <h2 class="display__section-name">Instance Methods</h2>
                <% for(var instance_method in content.instance_methods) { %>
                  <% instance_method = content.instance_methods[instance_method]; %>
                  <div data-name="<%= instance_method.full_name %>" class="display__method">
                    <span class="display__method__name">#<%= instance_method.name %></span>
                    <% instance_method.clauses.forEach(function(clause) { %>
                      <div class="display__method__clause">
                        <span class="display__method__head"><%= clause.head %></span>
                        <p><%= MarkdownRenderer.render(clause.doc) %></p>
                      </div>
                    <% }); %>
                  </div>
                <% } %>
              </div>


            <% } else if(content.kind == "MODULE") { %>
              <h1 class="display__name">
                <span class="muted"><%= content.full_name.replace(content.name, '') %></span><%= content.name %>
                <span class="display__kind"><%= content.kind %></span>
              </h1>
              <p class="display__summary"><%= MarkdownRenderer.render(content.doc) %></p>

              <div class="display__section">
                <h2 class="display__section-name">Constants</h2>
                <% for(var constant in content.constants) { %>
                  <% constant = content.constants[constant]; %>
                  <div data-name="<%= constant.full_name %>" class="display__constant">
                    <span class="display__constant__head">
                      <span class="display__constant__name"><%= constant.name %></span>
                      <span class="display__constant__value">= <%= constant.value %></span>
                    </span>
                    <p><%= MarkdownRenderer.render(constant.doc) %></p>
                  </div>
                <% } %>
              </div>

              <div class="display__section">
                <h2 class="display__section-name">Methods</h2>
                <% for(var method in content.methods) { %>
                  <% method = content.methods[method]; %>
                  <div data-name="<%= method.full_name %>" class="display__method">
                    <span class="display__method__name">.<%= method.name %></span>
                    <% method.clauses.forEach(function(clause) { %>
                      <div class="display__method__clause">
                        <span class="display__method__head"><%= clause.head %></span>
                        <p><%= MarkdownRenderer.render(clause.doc) %></p>
                      </div>
                    <% }); %>
                  </div>
                <% } %>
              </div>
            <% } else if(content.kind == "ROOT") { %>
              <h1 class="display__name">
                <%= root.project_name %>
                <span class="display__kind"><%= root.version %></span>
              </h1>
              <p class="display__summary"><%= MarkdownRenderer.render(root.doc) %></p>

              <div class="display__section">
                <h2 class="display__section-name">Constants</h2>
                <% for(var constant in content.constants) { %>
                  <% constant = content.constants[constant]; %>
                  <div data-name="<%= constant.full_name %>" class="display__constant">
                    <span class="display__constant__head">
                      <span class="display__constant__name"><%= constant.name %></span>
                      <span class="display__constant__value">= <%= constant.value %></span>
                    </span>
                    <p><%= MarkdownRenderer.render(constant.doc) %></p>
                  </div>
                <% } %>
              </div>

              <div class="display__section">
                <h2 class="display__section-name">Methods</h2>
                <% for(var method in content.methods) { %>
                  <% method = content.methods[method]; %>
                  <div data-name="<%= method.full_name %>" class="display__method">
                    <span class="display__method__name">.<%= method.name %></span>
                    <% method.clauses.forEach(function(clause) { %>
                      <div class="display__method__clause">
                        <span class="display__method__head"><%= clause.head %></span>
                        <p><%= MarkdownRenderer.render(clause.doc) %></p>
                      </div>
                    <% }); %>
                  </div>
                <% } %>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </script>


  <body id="docs">
  </body>

  <script src="docs.js"></script>
</html>
