:root {
  --root-blue: #4f7f93;
  --dark-blue: #2d4752;
  --mid-dark-blue: #4d7180;
  --mid-light-blue: #9fbac7;
  --light-blue: #c8d8de;
  --ultra-light-blue: #f2f6f7;

  --dark-gray: #494e50;
  --gray: #798286;
  --light-gray: #c9cdcf;
  --lighter-gray: #f1f3f3;

  --text-color: var(--dark-blue);
  --header-color: var(--mid-light-blue);
  --border-color: var(--root-blue);
  --hover-color: var(--ultra-light-blue);

  --invert-color: var(--lighter-gray);
  --invert-bg-color: var(--dark-blue);
  --invert-hover-color: var(--mid-dark-blue);
  --invert-border-color: var(--light-gray);

  --muted-color: var(--mid-light-blue);
  --muted-bg-color: var(--light-blue);

  --code-color: var(--mid-dark-blue);
  --code-bg-color: var(--ultra-light-blue);

  --font-size: 16px;
  --font-sans: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-monospace: 'IBM Plex Mono', monospace, monospace;
  --line-height: 1.8rem;
  --line-height-condensed: 1.3rem;

  --spacing-0u: 4px;
  --spacing-1u: 8px;
  --spacing-2u: 16px;
  --spacing-4u: 32px;
  --spacing-8u: 64px;

  --border-radius: 2px;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-sans);
  color: var(--text-color);
  line-height: var(--line-height);
  font-size: var(--font-size);
  margin: 0;
  box-sizing: border-box;
}



.muted {
  color: var(--muted-color);
}

code {
  display: inline-block;
  line-height: var(--line-height-condensed);
  padding: 0px var(--spacing-0u);
  border-radius: var(--border-radius);
  background-color: var(--code-bg-color);
  color: var(--code-color);
}



.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.content .sidebar {
  flex: 0 0 340px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 1rem;
  background-color: var(--invert-bg-color);
  color: var(--invert-color);
}

.content .sidebar #sidebar-header {
  flex: 0 0 80px;
  padding: var(--spacing-4u);
  display: flex;
  font-size: 2.2em;
  justify-content: space-between;
  align-items: center;
  color: var(--invert-color);
}

.sidebar-header__home-link {
  text-decoration: none;
}

.sidebar-header__logo {
  width: 72px;
  height: 72px;
  display: inline-block;
}

.sidebar-header__name {
  font-size: 1em;
  font-weight: 500;
}

.content .sidebar #index {
  flex: 1 0 0;
  padding: var(--spacing-4u);
  padding-top: 0;
  overflow-y: scroll;
}

.content .display-wrapper {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.content #display {
  max-width: 780px;
  padding: var(--spacing-8u);
  margin: 0 auto;
}


.entry__list {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 0.4em;
}

.entry__list a {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry__section-name {
  display: block;
  font-size: 0.84rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: var(--spacing-4u) 0 0 0;
  font-family: var(--font-condensed);
  color: var(--invert-color);
}

.entry__list .entry {
  color: var(--invert-color);
  text-decoration: none;
  padding: var(--spacing-0u) var(--spacing-2u);
  font-size: 1rem;
  font-weight: 300;
  display: block;
  line-height: var(--line-height-condensed);
  border-left: 1px solid var(--invert-color);
}

.entry__list .entry:hover {
  border-left: 4px solid var(--invert-color);
  background-color: var(--invert-hover-color);
}



.display__name {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.display__kind {
  display: block;
  margin-top: var(--spacing-1u);
  font-size: 0.5em;
  text-transform: lowercase;
  color: var(--light-gray);
}

.display__section {
  margin-bottom: var(--spacing-8u);
}

.display__method {
  margin: var(--spacing-4u) 0;
  border-left: 2px solid var(--border-color);
}

.display__method p {
  margin: var(--spacing-1u) var(--spacing-2u);
}

.display__method__name {
  padding: var(--spacing-0u) var(--spacing-2u);
  display: block;
  font-family: var(--font-monospace);
  font-size: 1rem;
  font-weight: 600;
}

.display__method__head {
  display: block;
  padding: var(--spacing-0u) var(--spacing-2u);
  margin: var(--spacing-1u) 0;
  background-color: var(--code-bg-color);
  font-family: var(--font-monospace);
  font-size: 0.8rem;
}


.display__constant {
  padding: 0 var(--spacing-2u);
  margin: var(--spacing-2u) 0;
  border-left: 2px solid var(--border-color);
}

.display__constant p {
  margin: var(--spacing-1u) var(--spacing-2u);
}

.display__constant__head {
  display: block;
  margin: var(--spacing-1u) 0;
  font-family: var(--font-monospace);
}

.display__constant__name {
  font-weight: 600;
  color: var(--text-color);
}

.display__constant__value {
  color: var(--muted-color);
  font-size: 0.8em;
  display: block;
}
